* {
     box-sizing:border-box;
}

#loading {
     display: block;
     position: absolute;
     right: 10px;
     top: 10px;
     background-color: rgba(255,255,255,0.75);
     color: black;
     font-family: 'Helvetica';
}

#loading .text {
     margin: 10px;
     font-size: 10pt;
}

.popup {
     display: none;
     border-radius: 10px;
     position: absolute;
     width: 400px;
     background-color: rgba(255,255,255,0.75);
     color: black;
     font-family: 'Helvetica';
     margin: 10px;
     padding: 10px;
}

.popup .button {
     float: right;
     height: 20px;
     border-radius: 5px;
     border:1px solid gray;
}

.popup .title {
     margin: 15px;
     font-size: 15pt;
     text-align: center;
     font-weight: bold;
}
.popup .text {
     margin-top: 20px;
     margin-left: 5px;
     font-size: 11pt;
}

.popup  li {
     padding-left: 10px;
     font-size: 10pt;
     list-style-type: none;
}

.popup .infos{
     margin: 5px;
     font-size: 8pt;
     font-style: italic;
}

.footer{
     position: absolute;
     border-radius: 10px;
     bottom : 20px;
     right : 20px;
     width: 200px;
     background-color: rgba(205,205,205,0.85);
     color: black;
     font-family: 'Helvetica';
     padding: 10px;
}

.footer .text {
     width: 50px;
     height: 20px;
     font-size: 10pt;
     color:#BABABA;
}

.footer ul{
     padding-left: 10px;
     margin: 5px;
     font-size: 10pt;
}

.footer li {
     text-align: left;   
     padding-left: 15px;
     list-style-type: none;
}

.footer .button {
     display:inline-block;
     padding: 0px;
     width: 20px;
     height: 20px;
     font-size: 9pt;
     border-radius: 5px;
     border:1px solid gray;
}

.footer h3 {
     text-align: center;
}

.clear {
     clear:both;
}